.select2-container{width: 100% !important;}
.dl-horizontal dd {word-wrap: break-word;}
span.fa.fa-flag.trusted_button {color: #008000;}
span.fa.fa-flag.fake_button {color: #ff0000;}
.tooltip {background: #000000 !important;color: #ffffff !important;}

/* Responsive css */
@media (max-width: 991px){
.table th {font-size: 13px;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {padding: 10px 0 10px 5px;}
}
@media (max-width: 767px){
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {padding: 10px 0 10px 0px;}
}
@media (max-width: 591px){
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {padding: 20px 0 20px 5px;}
}
@media (max-width: 480px){
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {  padding: 10px 0 10px 0px;font-size: 10px;}
}
@media (max-width: 375px){
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {font-size: 9px;}
}
